body
  height: 2000px
  .twice
    position: absolute
    top: 10px
    width: 100px
    height: 100px
    background-color: lightgreen
    text-align: center
    left: 50%
  .three-times
    position: absolute
    top: 150px
    width: 100px
    height: 100px
    background-color: lightblue
    text-align: center
    left: 50%
